<script src="/javascripts/login.js"></script>
<p>Please enter your username and password</p>
<div id="err_msg" err="{{err_msg}}"></div>
{{#if msg}}<div class="alert alert-success">{{msg}}</div>{{/if}}
<div class="col-xs-3">
<form action="/login" method="POST">
<label>Username</label><input type="text" name="username" class="form-control" />
<label>Password</label><input type="password" name="password" class="form-control" for="inputPassword"/>
<input type="submit" value="submit" class="btn btn-primary" />
</form>
</div>
