<h1>{{title}}</h1>
<p>Welcome to {{title}}{{#if user}}, <b>{{user.username}}</b>  {{/if}}</p>
<h3>{{#if user}} <a href="">Create Classroom</a> | <a href="/logout">Logout</a> {{else}}<a href="/login">Log in </a> | <a href="/register">Register </a>{{/if}}</h3>
